.form-actions {
  margin-top: 2rem;
}

.signup-buttons {
  margin-top: 3rem;
}

.signup-buttons > button {
  display: block;
  margin: 0 auto;
}

.signup-buttons > button:not(:first-child) {
  margin-top: 0.5rem;
}
